.card {
    /* Allow .card-contents to be positioned relatively so it can be centered
     * inside the card. */
    position: relative;

    display: inline-block;
    width: 7em;
    height: 7em;
    margin: 0.5em;

    border: 3px solid white;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

    text-align: left;
    font-size: 18px;
    color: black;
    background-color: white;
}

.card-contents {
    /* Center vertically. */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    /* Center horizontally. */
    width: 100%;
    text-align: center;

    padding: 1em;

    cursor: default;
}

/* When the card is face down, cover its contents using a pseudo element. This
 * way the background-color can be faded out when the card is flipped up. */
.card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
}
.card-face-down:after {
    background-color: #3F6CCE;
}

.card-face-down {
    cursor: pointer;
}

.card-face-down:hover, .card-selected, .card-correct, .card-wrong {
    /* Widen shadow and scale up to give appearance of rising. */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.card-selected {
    border: 3px solid #7FACFE;
}
.card-correct {
    border: 3px solid #66ff66;
}
.card-wrong {
    border: 3px solid #ff6666;
}
